body {
  font-family: "Open Sans", sans-serif;
  color: Yellow;
  margin: 10px 50px 10px 50px;
  background-image: url("image.png");
  background-repeat: no-repeat;
}

h1,
h2 {
  color: Yellow;
  font-family: "Oswald", sans-serif;
}
