body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: violet;
  margin: 20px 100px 20px 100px;
  height: 100vh;
  background-image: url("image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
p {
  text-align: center;
  color: violet;
  font-family: "Oswald", sans-serif;
}

div {
  display: inline-block;
}

.container {
  position: relative;
  text-align: center;
  color: violet;
}

.centered {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
